.spending-page-content{
    margin-top: 20vh;
    height: 100%;
    color: black;
    margin-left: 50vh;
  
}
.spending-chart-container {
    width: 40%; /* Adjust width to fit content */
    max-width: 400px; /* Prevent it from being too large */
    height: 300px; /* Maintain height */
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center; /* Center vertically */
    padding: 20px;
    flex-direction: row;
    position: static;
    
  }
  .recharts-sector:focus {
    outline: none !important;
  }
  .month{
    left: 30vh;
    color: #C24893;
  }
  .position{
    margin-right: -90vw;
   margin-top: -50vh;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    height: 25px;
    background-color: #5AAE1F;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    outline: none; /* Prevents outline on click */
  }
  
  .dropdown-btn:hover {
    background-color: #3f7549;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    max-height: 120px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    /* transition: background 0.3s; */
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  .dropdown-btn:focus {
    outline: none;
  }
  
  .dropdown-btn:active {
    transform: none; /* Prevents any scaling effect */
    background-color: #15c908; /* Keeps the hover color consistent */
  }
  .underlined-text {
    text-decoration: underline;
    color: #C24893;
  }
  .expense-bar {
    margin-top: 30px;
    width: 300px;  /* Adjust width */
    height: 50px;  /* Adjust height */
    background-color: white;
    border-radius: 5px; /* Optional rounded corners */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Right and bottom shadow */
    display: flex;
    flex-direction: row;
  }
 
  .bar-one{
    margin-top: 12px;
    margin-left: 4px;
  }
  .bar-two{
    margin-top: 12px;
    margin-left: 4px;
  }
  .bar-three{
    margin-top: 12px;
    margin-left: 4px;
  }
  .amount-one{
    margin-top: 12px;
    margin-left: 160px;
  }
  .amount-two{
    margin-top: 12px;
    margin-left: 130px;
  }
  .amount-three{
    margin-top: 12px;
    margin-left: 100px;
  }
  .amount-four{
    margin-top: 12px;
    margin-left: 130px;
  }
  .food{
    color: #410750;
   margin-top: 13px;
   margin-left: 5px;
  }
  .transport{
    color: #edde39;
  margin-top: 13px;
  margin-left: 5px;
  }