.budget-page-content{
    margin-top: 20vh;
    height: 100%;
    margin-left: 30vw;
}
.budget-rect-bar {
    margin-top: 30px;
    width: 600px;
    height: 50px;  
    background-color: #CBE9B9; 
    border-radius: 5px; /* Optional rounded corners */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Right and bottom shadow */
    display: flex;
    flex-direction: row;
    color: #09502A;
  }
  .budget-one{
    margin-top: 12px;
    margin-left: 8px;
  }
  .Firstamount{
    margin-top: 14px;
    margin-left: 200px;
  }
  .duedate{
    margin-top: 14px;
    margin-left: 20px;
  }
  .add{
    margin-left: 30vw;
    text-align: center;
    width: 120px;
  }
  .body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    width: 40%;
    margin-top: 3vw;
    border: black 1px solid;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.form-container{
    width: 320px;
  display: flex;
  flex-direction: column;
}

label{
    color:white;
    font-size: 20px;
    
}

input {
  width: 300px; 
  height: 40px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white; 
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif; 
  outline: none;
  backdrop-filter: blur(5px); 
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}