@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    color: black;
}

.sidebar {
    background-color: #CBE9B9;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 0px 10px rgba(32, 29, 29, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
    width: 40%;
   margin-left: -30px;
}

.pos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

button {
    background-color: #CBE9B9;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5AAE1F;
    color: white;

}

.icon {
    font-size: 20px;
}
.search-bar {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-left: 200px;
    background-color: #CED1CD;
    text-indent: 25px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 18.4%;
    width: 80vw;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;   
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-icon {
    position: absolute;
    left: 230px;
    font-size: 18px;
    color: #353030;
   
}